@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgb(222, 219, 219);
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #8b5cef;
  border-radius: 50px;
  border: 1px solid rgb(222, 219, 219);
}
